
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:cctd="http://www.constantcontact.com/cctd">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Broadcast Report</title>
</head>
<body class="newsletter" style="background: #192135; color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 13px; margin: 0; padding: 0; border-top: 0 solid #000000;">
<table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#192135" style="padding-top:32px;border:none;">
    <tr>
        <td align="center" valign="top" width="100%">
            <table border="0" cellspacing="0" cellpadding="0" style="border:none;width:600px; background:#ffffff">
                <tr>
                    <td align="left" style="text-align: left;">
                        <table style="border:none;" width="100%" cellpadding="0" cellspacing="0" border="0" class="body_main_style">
                            <tr>
                                <td align="center" valign="top" width="100%">
                                    <table border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" style="width:600px; background: #ffffff;">
                                        <tr>
                                            <td>
                                                <table border="0" cellspacing="0" cellpadding="0" style="width:600px; background:#ffffff">
                                                    <tr>
                                                        <td align="center;" style="padding-left: 50px;padding-right:50px;padding-top: 38px;padding-bottom: 39;text-align: center;">
                                                            <img style="display:inline-block;width: 120px; height: 39px;margin-bottom: 20px;" src="http://zubialive.com/modules/core/img/logo.png" alt="Zubia logo"/>
                                                            <hr style="border: 1px solid #D8D8D8">
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" style="border:none;padding-bottom: 35px; background:#192135;">
                                                <table style="border:none;width:100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" width="100%">
                                                    <tr align="left">
                                                        <td align="center" valign="top" style="padding-bottom: 34px;border: none;">
                                                            <h3 style="color:#05335C;margin-top:0;margin-bottom:0;font-family: arial; font-size: 21px; font-weight: 300;">Broadcast cancelled</h3>
                                                        </td>
                                                    </tr>
                                                    <tr align="left">
                                                        <td>
                                                            <table style="padding-bottom:140px;border:none;width:100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" width="100%">


                                                                <tr>
                                                                    <td style="padding-left: 40px;padding-right: 40px; padding-bottom: 29px;">
                                                                        <p style="font-family: arial;font-size: 16px; font-weight: 100; color: #4F5B70;">
                                                                            Dear Zubia Member:
                                                                            <br /><br />
                                                                            The broadcast you selected to watch, {{broadcast.title}} hosted by {{broadcast.host.screenName}} at {{display.time}} on {{display.date}} has been cancelled. Please check with the host on the Zubia app for any updates or when it might be rescheduled.
                                                                            <br /><br />
                                                                            In the meantime feel free to browse other broadcasts which might interest you. Try using the search tool to find topics of interest. Thank you for being part of the Zubia community!
                                                                            <br /><br />
                                                                            Sincerely,<br />
                                                                            The Zubia Team
                                                                            <br /><br /><br />
                                                                            Visit us at <a style="font-family: arial; font-size: 16px;text-decoration: underline;color: #1cbebd" href="http://zubialive.com">Zubialive.com</a><br />
                                                                            Twitter <a style="font-family: arial; font-size: 16px;text-decoration: underline;color: #1cbebd" href="https://twitter.com/ZubiaLive">@ZubiaLive</a>
                                                                        </p>
                                                                    </td>
                                                                </tr>

                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr align="center" bgcolor="f2f2f2" style="background: #192135; border-top: solid 1px #e6e6e6;">
                                                        <td style="padding-top: 40px; padding-bottom: 74px;">
                                                            <span style="font-family: arial; font-size:12px; font-weight:300; color: #96A0B0;">© Zubia 2016. All rights reserved</span>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
